#logo {
    position: absolute;
    text-align: center;
    margin-top: 2%;
    left:30%;
    top:10%;
    margin-top: 10%;
    width: 40%;
    align-content: center;
    font-family: 'Fjalla One', sans-serif;
    font-size: 28pt;
    letter-spacing: 0.7pt;
}
.searchbox {
    width: 60%;
    left:20%;
    top:25%;
    margin-top: 20%;
    position: relative;
    display: inline-block;
}
#search-field {
    position: absolute;
    padding: 10px;
    background: #f1f1f1;
    padding: 10px;
    font-size: 14pt;
    border: 1px solid grey;
    height: 40px;
    width: 90%;
    margin-top: 0%;
    font-family: 'B612', sans-serif;
}
.icon {
    float: right;
    width: 10%;
    background: #2196F3;
    color: white;
    border: 1px solid grey;
    border-left: none; 
    cursor: pointer;
    height: 40px;
    color: black;
}

#help {
    border: 1px solid grey;
    position: absolute;
    display: inline-block;
    cursor: pointer;
    width: 10%;
    height: 30px;
    font-size: 14pt;
    background: white;
    color: grey;
    box-sizing: border-box;
    left:35%;
    letter-spacing: 0.7pt;
    font-family: 'B612', sans-serif;
    text-align: center;
    line-height: 50%;
}
#reset {
    border: 1px solid grey;
    position: absolute;
    display: inline-block;
    cursor: pointer;
    width: 10%;
    height: 30px;
    font-size: 14pt;
    background: white;
    color: grey;
    box-sizing: border-box;
    right: 35%;
    letter-spacing: 0.7pt;
    font-family: 'B612', sans-serif;
    text-align: center;
    line-height: 50%;
}
#reset:hover {
    background-color: white;
    color: black;
}
#help:hover {
    background-color: white;
    color: black;
}